.card{

    text-decoration: none;
    background-color: none;
   }
   
   .pqr{
     text-decoration: none;
     color: black;
   }
   
   *{
     margin:0;
     padding:0;
   }
   
   /*.bg{
     width: 100%;
     height: 100vh;
     position: fixed;
     top: 0;
     z-index: -1;
     background-color:white ;
     background size:cover;
     filter: blur(5px) brightness(50%);
   }*/
   .container{
     width: 80%;
     margin: auto;
     padding-top: 20px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
   
   }
   
   .boxes{
     border: 2px solid black;
     width: 400px;
     height: 400px;
     display: flex;
     flex-direction: column;
     margin: 5px;
     align-items: center;
     justify-content: center;
     box-shadow: 0 0 10px white;
     transition: 300ms all;
     background-size: cover;
     background-position: center;
     background-color: #BFEAF5;
   }
   
   .box-content{
     background-color: white;
     padding: 10px 5px;
     text-align: center;
     width: 100%;
     transition: 300ms all;
   }
   
   .boxes:hover{
     transform: scale(1.1);
   }
   .boxes:hover .box-content{
     background-color: transparent;
     color:white;
   }
   .heading{
     text-align: center;
     padding: 3300px auto 100px auto;
   }